@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(221, 221, 221);
    font-size: 1em;
    height: 100vh;
    width: 100vw;
}

header{
    background-color: rgb(112, 112, 112);
    color: white;
    padding: 10px 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    flex: 0 0 150px
}

header > nav {
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
}

header > nav > a {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px 0px;
    margin: 5px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    flex: 0 0 85px;
}

header > nav > a:hover {
    background-color: rgb(233, 233, 233);
    color: rgb(31, 31, 31);
    transition: background-color .4s;
}

main{
    background-color: white;
    max-width: 800px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
}

