@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(221, 221, 221);
    font-size: 1em;
    height: 100vh;
    width: 100vw;
}

header{
    background-color: rgb(112, 112, 112);
    color: white;
    padding: 10px;
}

header > h1 {
    border: 1px solid black;
}

header > nav {
    border: 1px solid black;
}

header > a {
    text-decoration: none;
    color: white;
}

main{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
}