@charset "UTF-8";

div.conteiner{
    background-color: aqua;
    display: flex;
    flex-flow: row wrap;
    align-content: space-evenly;
    height: 400px;
}

div.item {
    background-color: bisque;
    border: 1px solid black;
    text-align: center;
    padding: 40px;
}