@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');



:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Caveat", cursive;
    --font3: "Dancing Script", cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
    font-family:var(--font1);
    min-height: 100vh;

}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

header > h1 {
    font-variant: small-caps;
    padding-bottom: 10px;
    font-family: var(--font1);
    font-size: 5vw;
}

a{
    text-decoration: none;
    color: white;
}

section{
    padding: 10vh 0;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font2);
    font-size: 4vw;
}

a:hover{
    text-decoration: underline;
}

.normal{
    background-color: white;
    background-image: url(../img/);
}

.imagem{
    background-color: rgb(66, 66, 66);
    color: white;
    background-position: right center;
    background-size: cover;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.308);
    background-attachment: fixed;

}

.imagem > p{
    display: inline-block;
    text-shadow: 2px 2px 2px black;
}

#img01{
    background-image: url(../img/background001.jpg);
}

#img02{
    background-image: url(../img/background002.jpg);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}