@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

main{
    background-color: azure;
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

section{
    background-color: aquamarine;
    height: 200px;
    width: 200px;
}