table{
    width: 500px;
    border-collapse:collapse;
    position: relative;
    
}

td, th{
    border: 1px solid black;
    padding: 5px;
    padding: 10px;
}

.num{
    text-align: right;
}

thead > tr > th{
    position: sticky;
    top: -1px;
    background-color: rgb(53, 53, 53);
}

tbody > tr:nth-child(even){
    background-color: rgb(226, 226, 226);
}

.strong{
    font-weight: bold;
}

thead, tfoot{
    background-color: rgb(53, 53, 53);
    color: white;
}
