@charset "UTF-8";

div.container{
    border: 1px solid red;
    display: grid;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: auto auto auto;
    gap: 10px;
    place-items: normal normal;
    place-content: normal normal;;
}

div.item {
    border: 1px solid blue;
    padding: 5px;
 
}