@charset "UTF-8";

div.container{
    border: 1px solid red;
    display: grid;
    height: 250px;
    grid-template: repeat(3, auto) / repeat(3, auto);
    gap: 10px;
    align-items: normal;
    justify-items: normal;
    align-content: normal;    
    justify-content: normal;


}

div.item {
    border: 1px solid blue;
    padding: 5px;
 
}