@charset "UTF-8";

div.container{
    border: 1px solid red;
    display: grid;
    grid-template: repeat(3, 50px) / 1fr 3fr 1fr;
    grid-auto-flow: row;
    grid-auto-rows: 50px;
    grid-auto-columns: 1fr;
    gap: 10px;
    place-items: normal normal;
    place-content: normal normal;
}

div.item {
    border: 1px solid blue;
    padding: 5px;
 
}