@charset "UTF-8";

div#conteiner{
    background-color: aqua;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    height: 400px;
}

div.item{
    background-color: azure;
    border: 2px solid black;
    text-align: center;
    padding: 20px;    
}

div#i1{
    
}
div#i2{
    align-self: auto;
}
div#i3{
    align-self: flex-end;
}
div#i4{
    
}
div#i5{
    align-self: center;
}
div#i6{
    
}
div#i7{
    align-self: stretch;
}
div#i8{
    
}