@charset "UTF-8";

div.container{
    border: 1px solid rgba(255, 0, 0, 0);
    display: grid;
    grid-template: repeat(3, 200px) / repeat(4, 200px);
    grid-auto-flow: row;
    grid-auto-rows: 200px;
    grid-auto-columns: 200px;
    gap: 10px;
    place-items: normal normal;
    place-content: normal normal;
}

div.item1 {
    border: 1px solid red;
    padding: 5px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

div.item2 {
    border: 1px solid green;
    padding: 5px;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

div.item3 {
    border: 1px solid blue;
    padding: 5px;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}