.quadrado{
    display: inline-block;
    border: 2px solid red;
    background-color: aqua;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

body{
    background-image: url(../img/wallpaper001.jpg);
}

#q1{
    background-color: azure;
}

#q2{
    background-image: linear-gradient(to bottom, red, black);
}

#q3{
    background-image: url(../img/pattern001.png);
}