#container{
    background-image: url(../img/target001.png);
    background-size: 100% 100%;
    height: 96vh;
    padding: 10px;
    background-color: aqua;
    
}

#conteudo{
    background-image: url(../img/target001.png);
    background-size: 100% 100%;
    position: absolute;
    height: 200px;
    background-color: rgba(255, 228, 196, 0.808);
    width: 400px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    
}