body{
    height: 100vh;
    background-color: black;
    background-image: url(../img/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    background-color: aliceblue;
    width: 400px;
    padding: 10px 20px;
    margin: auto;
    border-radius: 20px;
}