.bloco{
    height: 150px;
    border: 2px solid red;
    margin: 10px;
    border-radius: 20px;
    background-image: url(../img/wallpaper002.jpg);
}

#q1{
    background-position: left top;
}

#q2{
    background-position: left center;
}

#q3{
    background-position: right bottom;
}

#q4{
    background-position: center center;
}