@charset "UTF-8";

div.conteiner{
    background-color: aqua;
    display: flex;
    flex-flow: row nowrap
}

div.item {
    background-color: bisque;
    border: 1px solid black;
    text-align: center;
    flex: auto;
}