*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 1fr 4fr 1fr;
    grid-template-columns: 2fr 4fr 2fr;
    grid-auto-flow: row;
}

.topo{
    border: 1px solid red;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.menu{
    border: 1px solid rgb(0, 255, 115);
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

.principal{
    border: 1px solid rgb(47, 0, 255);
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}

.secundario{
    border: 1px solid rgb(47, 0, 255);
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

.rodape{
    border: 1px solid rgb(47, 0, 255);
    grid-row: 4 / 5;
    grid-column: 1 / 4;
}