@charset "UTF-8";

/* FLEX: GROW + SHRINK + BASIS*/ 

div.conteiner{
    background-color: aqua;
    display: flex;
    flex-flow: row nowrap;
}

div.item {
    background-color: bisque;
    border: 1px solid black;
    text-align: center;
}

div#i1{
    flex: 0 1 150px
}

div#i2{
    flex: 2 0 150px
}

div#i3{
    flex: 2 1 150px
}