@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

h1, h2 {
    margin-bottom: 20px;
    text-align: center;
}

p{
    margin-bottom: 10px;
    text-align: justify;
}

header, section.normal{
    padding: 20px;
}

section.flex-content{
    background-color: lightgray;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
}

article.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

article.text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article > div.text {
    flex: 1 1 500px;
    align-content: center;
}

article > div.img, div.media {
    flex: 1 0 400px;
}

div.media > img {
    display: block;
    margin: auto;
    width: 400px;
}

div.media > iframe {
    display: block;
    margin: auto;
    width: 400px;
}