@charset "UTF-8";

div.container{
    border: 1px solid red;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 100px 100px;
    gap: 5px;


}

div.item {
    border: 1px solid blue;
    padding: 5px;
 
}