@charset "UTF-8";

div.conteiner{
    background-color: aqua;
    display: flex;
    height: 100px;
    align-items: center;
    flex-flow:  row nowrap;
    justify-content: space-evenly;
}

div.item {
    background-color: bisque;
    border: 1px solid black;
    text-align: center;
}